html,
body,
.page {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

.Container {
  padding-top: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.5);
  width: 60vw;
  padding: 20px 0px;
}
.addName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.addName input {
  width: 100%;
  height: 5vh;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 1.5rem;
}
.addName button {
  margin-top: 15px;
  width: 100%;
  height: 5vh;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 1.5rem;
  background-color: #4caf50;
  color: #f6fdc3;
}
hr {
  width: 90%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.contactList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  flex-shrink: 0;
}
.Card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin: 10px 0;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.5);

  width: 95%;
}

.Info {
  padding: 10px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.name {
  flex: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: light;
  font-style: italic;
}
.function {
  flex: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
button {
  margin-left: 10px;
  padding: 10px 15px;
  border: none;
  color: black;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-weight: bolder;
}

.delete {
  background-color: #ff8080;
}
.addPhone {
  background-color: #4caf50;
  color: #f6fdc3;
}
.view {
  background-color: #ffcf96;
}
.Info button:hover {
  background-color: #f0edd4;
}

.Phones {
  padding: 10px 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.Phones table {
  width: 90%;
  border-collapse: collapse;
}
table td input,
table td button {
  width: 100%;
  height: 2rem;
  text-align: center;
}
table th,
table td {
  text-align: center;
}

.Phones button {
  color: white;
}
.Phones th,
.Phones td {
  padding: 8px 15px;
}
.Phones thead {
  background-color: rgba(0, 152, 122, 0.4);
  color: white;
}
.Phones tr:nth-child(even):not(:last-child) {
  background-color: #f3f3f3;
}
.AddPhones {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.AddPhones input {
  padding: 5px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

.AddPhones button {
  padding: 5px 15px;
  border: none;
  background-color: #cdfad5;
  color: #f6fdc3;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.AddPhones button:hover {
  background-color: #27ae60;
}
.Phones button {
  padding: 3px 10px;
  font-size: 0.9em;
  transition: all 0.3s ease-out;
}
